$primarycolor: #edede9;
$secondarycolor: #d6ccc2;
// #f5ebe0
// #e3d5ca
// #d5bdaf

@mixin hover {
  :hover {
    color: grey;
  }
}

@mixin shop-button($size) {
  border: 1px solid #000;
  padding: 12px 34px;
  font-size: $size;
  text-decoration: none;
  border-radius: 15%;
  margin: 20px;
}

@mixin brödtext($size) {
  font-family: "PT Serif", serif;
  font-size: $size;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5ebe0;
}

header {
    width: 100%;
    background-image: url(assets/navbar-img.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
  

  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  .loggo {
    width: 90px;
    position: relative;
    border-radius: 50%;
  }

  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  h1 {
    font-family: "Unica One", cursive;
    font-size: 3rem;
    margin: 0px;
  }

  .shop-button {
    @include shop-button(1.2rem);
  }
  a {
    text-decoration: none;
    color: black;
    font-family: "PT Serif", serif;
    font-size: 20px;
  }

  .nav-link {
    transition: 0.7s ease;
  }

  .nav-link:hover {
    color: rgb(206, 35, 35);
  }
  .hamburger {
    display: block;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: transparent;
    cursor: pointer;
    background-size: cover;
    position: relative;
  }
  .bar {
    display: block;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    transition: 0.3s;
    z-index: 1;
  }
  .nav-item {
    margin: 16px;
    list-style: none;
    color: #000;
  }
  .nav-menu.active {
    left: 70%;
    background-color: $secondarycolor;
  }
  li {
    @include hover;
  }

  @media (min-width: 977px) {
    li {
      display: inline-block;
      list-style: none;
      position: relative;
      padding: 8px 20px;
    }
    a {
      text-decoration: none;
      color: black;
      font-family: "PT Serif", serif;
      font-size: 20px;
    }
    .navbar {
      height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 24px;
    }
    h1 {
      font-size: 6rem;
    }

    img {
      margin-top: 4rem;
      width: 15rem;
      position: relative;
      border-radius: 50%;
    }

    .nav-menu {
      top: 0;
      left: auto;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    //funkar ej
    .nav-link {
      font-size: 2rem;
      transition: 0.7s ease;
    }

    .nav-link:hover {
      color: rgb(206, 35, 35);
    }

    .hamburger {
      display: none;
    }
  }
}

//funkar ej

.history-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 49px 24px;
  background-color: $primarycolor;
  .text-history-slogan {
    font-family: "PT Serif", serif;
    font-size: 1.2rem;
  }
  @media (min-width: 678px) {
    .text-history-slogan {
      font-size: 2.2rem;
    }
  }
}

.card-holder {
  max-width: 1200px;
  margin: 0 auto;

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .card-items {
    display: flex;
    padding: 1rem;

    @media (min-width: 40rem) {
      width: 50%;
    }
    @media (min-width: 56rem) {
      width: 33.3333%;
    }
  }

  .card {
    background-color: $primarycolor;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .card-content {
    padding: 1rem;
    background: $primarycolor;
  }

  .image-continer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .cake-img {
    width: 100%;
    height: auto;
    object-fit: cover;

    // width: auto;
    // max-width: 100%;
    // vertical-align: middle;
  }
  .cake-text {
    @include brödtext(1rem);
    line-height: 1.1rem;
    margin: 0px 0px 5px 0px;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .shop-button {
    @include shop-button(1rem);
    padding: 10px 20px;
  }

  @media (min-width: 768px) {
    .card-holder {
      display: flex;
      flex-direction: row;
    }
    .cake-text {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }
}

.parent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .child-1 {
    background-color: $primarycolor;
    margin: 0;
    padding: 0;

    .child-wrapper {
      display: flex;
      padding: 1rem;

      .card-child {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @media (min-width: 768px) {
          flex-direction: row;
        }
      }

      .card-img {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .child-cake-img {
          width: auto;
          max-width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
  .child-2 {
    background-color: $secondarycolor;
    padding: 1rem;

    .child-text {
      @include brödtext(1rem);
      margin: 0px 0px 5px 0px;
      align-items: center;
      padding: 10px;
    }
    @media (min-width: 768px) {
      .child-text {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
      .shop-button {
        @include shop-button(1rem);
      }
    }
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: darkslategray;
  flex: 1;
  // border: 3px solid pink;

  h2 {
    font-weight: 600;
    font-size: 17px;
  }
  .footer-left-content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    // border: 3px solid rgb(217, 192, 255);
  }
  .footer-left-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 3px solid rgb(192, 255, 217);
  }

  .footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // border: 3px solid rgb(220, 192, 255);


  }

  img {
    width: 60%;
    border-radius: 50%;
    padding-bottom: 10px;
  }

  p {
    padding-right: 20%;
    color: #999;
    justify-content: center;
    align-items: center;
  }


  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    line-height: 2em;
  }

  a {
    text-decoration: none;
  }

  .footer-right {
    display: flex;
    justify-content: center;
    gap: 50px;
    // border: 3px solid rgb(31, 17, 20);
    flex-direction: column;

    @media (min-width: 768px) {

        display: flex;
        flex-direction: row;
        // border: 3px solid rgb(70, 10, 20);
      }
  }
  //
  .box a {
    color: #999;
  }
 
  @media (min-width: 768px) {
    .footer-wrapper {
      display: flex;
      flex-direction: row;
      // border: 3px solid rgb(70, 10, 20);
    }
  }
}

.fa-solid {
 color: yellow;
 
}


// .right-footer-wrapper{
//   display: flex;
//   flex-direction: column;
// }


// input fead 



input, label {
  display:block;
}

.form-content{
  position: relative;
  margin-bottom: 1.25;
}
.input-group{
  width: 100%;
  border:0;
  margin: 0.8rem 0rem 0.8rem 0rem;
}

.input-label{
  top:0;
  left: 0;
  font-size: 1rem;
  padding-bottom: 0.2rem;
 
}

.label{
  width: 100%;
}

.radio-label{
  margin-bottom: 0.2rem;
}