$primarycolor: #edede9;
$secondarycolor: #d6ccc2;
// #f5ebe0
// #e3d5ca
// #d5bdaf

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5ebe0;
}

header {
  width: 100%;
  background-image: url(assets/navbar-img.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;

  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

    img {
      width: 90px;
      position: relative;
      border-radius: 50%;
    }
  }

  .nav-links {
    flex: 1;
    text-align: right;
  }
  li {
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 8px 20px;
  }
  a {
    text-decoration: none;
    color: black;
    font-family: "PT Serif", serif;
    font-size: 20px;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  h1 {
    font-family: "Unica One", cursive;
    font-size: 3rem;
    margin: 0px;
  }

  .shop-button {
    border: 1px solid #000;
    padding: 12px 34px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 15%;
    margin: 20px;
  }
}

.history-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 49px 24px;
  background-color: $primarycolor;
  .text-history-slogan {
    font-family: "PT Serif", serif;
    font-size: 1.2rem;
  }
}

.card-holder {
  max-width: 1200px;
  margin: 0 auto;

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .card-items {
    display: flex;
    padding: 1rem;

    @media (min-width: 40rem) {
      width: 50%;
    }
    @media (min-width: 56rem) {
      width: 33.3333%;
    }
  }

  .card {
    background-color: $primarycolor;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .card-content {
    padding: 1rem;
    background: $primarycolor;
  }

  .image-continer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .cake-img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .cake-text {
    margin: 0px 0px 5px 0px;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  @media (min-width: 768) {
    .card-holder {
      display: flex;
      flex-direction: row;
    }
  }
}

.parent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .child-1 {
    background-color: $primarycolor;
    margin: 0;
    padding: 0;

    .child-wrapper {
      display: flex;
      padding: 1rem;

      .card-child {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @media (min-width: 768px) {
          flex-direction: row;
        }
      }

      .card-img {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .child-cake-img {
          width: auto;
          max-width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
  .child-2 {
    background-color: $secondarycolor;
    padding: 1rem;

    .child-text {
      margin: 0px 0px 5px 0px;
      display: flex;
      align-items: center;
      padding: 10px;
    }
  }
}
