// colors
$primarycolor: whitesmoke;
$secondarycolor: #D6CDA4;
$background: #EEF2E6;
$hover:#1C6758;
$btn: #3D8361;


// Fonts
$heading: 'Heebo', sans-serif;
$bread: 'Nanum Gothic', sans-serif;
$secondarytext: 'PT Serif', serif;